<ion-card>
  <ion-card-header>
    <ion-card-title>Triangulo</ion-card-title>
    <ion-card-subtitle>Perimetro</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    El perimetro de un triangulo es la suma de las longitudes de sus tres lados. 
    En otras palabras, es la medida total del contorno o bordes del triangulo.
    <ion-img
  src="https://i.imgur.com/D4My2tg.png"
></ion-img>
<ion-item>
  <ion-item>
    <ion-label position="floating">Lado A (cm)</ion-label>
    <ion-input type="number" [(ngModel)]="lado1"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Lado B (cm)</ion-label>
    <ion-input type="number" [(ngModel)]="lado2"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Lado C (cm)</ion-label>
    <ion-input type="number" [(ngModel)]="lado3"></ion-input>
  </ion-item>

  <ion-button (click)="calcularPerimetro()">Calcular El Perímetro</ion-button>
  
  <br>

  <ion-item *ngIf="mostrarResultado && perimetro !== null">
    <h2>El perimetro es: {{ perimetro | number: '1.2-2' }}</h2>
  </ion-item>

</ion-item>
</ion-card-content>
</ion-card>