<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Figuras Geometricas - MCR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

      <ion-select (ionChange)="manejarSeleccionTipoFigura($event)" placeholder="Escoja una figura geometrica">
        <div slot="label">Figura Geometrica<ion-text color="black"></ion-text></div>
        <ion-select-option value="circulo">circulo</ion-select-option>
        <ion-select-option value="triangulo">triangulo</ion-select-option>
      </ion-select>

  <app-circulo *ngIf="esCirculo()" />
  <app-triangulo *ngIf="esTriangulo()" />
</ion-content>
